.projects {

  .portfolio-item {
    margin-bottom: 30px;

    ul {
      padding-left: 10px;

      &:before {
        font-size: 1em;
        color: #444;
        content: "\f3d1";
        font-family: ionicons;
        margin-right: 10px;
      }

      li {
        display: inline;
        margin-right: 15px;
      }
    }
  }
}
